<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stevensit.www.cpe556_interface_app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/t3i_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/t3i_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".SplashSpeed"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true">

        <activity android:name=".SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".SettingMenu"
            android:screenOrientation="landscape"/>

        <activity android:name=".AboutMenu"
            android:screenOrientation="landscape"/>

        <activity android:name=".HelpMenu"
            android:screenOrientation="landscape"/>

    </application>

</manifest>